extends layout

block content
	h2 Quiz Page
	form#quizForm 
		#target-word
			| #{list}
		input#guess(type='text' name='english' placeholder='Put French Translation Here')
		input(type='submit' value='Check Answer!')
	p#evaluation
	p#result-display
		

